#search-button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    cursor: pointer; /* Add cursor on hover */
  }
  
  /* Add hover effect */
  #search-button:hover {
    background-color: #3e8e41;
  }
 
  
  
  
  
  